.tree-select-wrapper {
  position: relative;
}

.tree-select-control {
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  padding: 0.5rem  0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tree-select-control.focus {
  border-color: #3b82f6;
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.tree-select-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tree-select-search {
  width: 100%;
  outline: none;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.tree-select-search::placeholder {
  color: #6b7280;
}

.tree-select-search:focus {
  border-color: #3b82f6;
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.tree-select-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  top: calc(100% + 5px);
  left: 0;
  background-color: #ffffff;
  max-height: 300px;
  z-index: 50;
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.tree-select-wrapper:hover .tree-select-clear {
  opacity: 1;
}

.tree-select-clear {
  position: absolute;
  transition: opacity 0.2s ease-in-out;
  right: 5px;
  top: 50%;
  opacity: 0;
  padding: 0 10px;
  font-size: 0.75rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.tree-select-list {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tree-select-label {
  display: flex;
  align-items: center;
  gap: 2px;
}

.tree-select-children {
  margin-left: 18px;
}

.tree-select-label {
  cursor: pointer;
}

.tree-select-collapse {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
  height: 10px;
  width: 10px;
  transition: transform 0.1s ease-in-out;
}

.tree-select-collapse.collapsed {
  transform: rotate(-90deg);
}
